   body {
     width: 100%;
     font-family: sans-serif;
     background-color: #e5e5f2;
     margin: 0;
   }

   a {
      text-decoration: none;
      color: #fff;
   }

   a:hover {
      text-decoration: underline;
   }

   .top_div {
      background-color: #000026;
      margin: 0 none;
      height: 180px;
      display: block;
      text-align: center;
      position: relative;
   }

   .welcomediv {
     color: #fff;
   }

   .main_title {
     position: absolute;
     top: 70px;
     left: 500px;
     right: 500px;
     bottom: 80px;
     text-align: center;
   }

   .userchoices {
       color: #fff;
       text-align: right;
       margin-right: 20px;
       font-size: large;
   }

   .content {
     width: 800px;
     margin: 0 auto;
     margin-top: 80px;
   }

   .actual_title {
     color: #fff;
     text-shadow: 3px 2px red;
     font-family: 'Kumar One';
     margin: auto;
     vertical-align: middle;
   }


   .newpost_div {
     margin: 30px;
     margin-left: 150px;
   }

   .error {
     color: red;
     margin-bottom: 30px;
     text-align: center;
   }

   .desc {
     height: 350px;
     width: 500px;
   }

   input[type=text] {
     width: 500px;
   }

   label {
     display: block;
     margin-bottom: 20px;
   }

   .right {
      text-align: right;
      width: 50%;
      font-size: x-small;
      color: #808080;
   }

   .left {
      width: 50%;
      text-align: left;
      font-weight: bold;
   }

   .container_blog {
      display: flex;
      margin-bottom: 20px;
      margin-top: 25px;
   }

   .top {
      margin-bottom: 40px;
      background-color:#fff;
      width: 750px;
      margin-left: 25px;
      border-radius: 2px;
   }

   .title {
      border-bottom: 2px solid #dcdcdc;
      font-weight: bold;
      font-size: x-large;
   }

   .blog_title {
      color: #000;
   }

   .edit_del {
      float: right;
   }

   .container_perma {
      display: flex;
   }

   .perma_content {
      margin-bottom: 20px;
   }

   .disp {
      background-color:#fff;
      border-radius: 2px;
   }

   .comments_disp {
      background-color:#fff;
      border-radius: 2px;
      margin-bottom: 20px;
   }

   .comments_div {
      margin: 20px;
   }

   .commentsinput {
       width: 750px;
       height: 80px;
   }

   .posted_by {
      font-size: small;
      margin: 0 none;
      color: #808080;
   }

   .error {
      color: red;
      margin-top: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: x-large;
   }

   .editables, .ld_div, .ed_div {
      display: flex;
      margin-top: 10px;
   }

   .ld_left, .ed_left {
      margin-right: 20px;
   }

   .ld_div {
      width: 50%;
      margin-left: 20px;
   }

   .ed_div {
      width:50%;
      margin: 20px;
   }

   .ed_right {
      align: right;
   }

   .ed_left {
      margin-left: 315px;
   }

   .login_width input {
      width: 200px;
   }

   .signup_width input {
      width: 200px;
   }

   .inp_caption {
      text-align: left;
      font-weight: bold;
      font-size: 18px;
   }

   .ed_comments {
      display: flex;
      width: 10%;
   }

   .edcomm {
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .comments_left {
      margin-top: 20px;
      margin-bottom: 0;
      width: 90%;
   }

   .comm_l{
      margin-right: 10px;
   }

   .line_col{
      color: red;
   }

   .go_bk
   {
      float: right;
   }


