{% extends "base.html" %}

   {% block content %}
    <div class="error">{{error}}</div>
    <h2>Edit Post</h2>
     <form method="post">
         <div>
             <label>
                 <div>Edit post</div>
                 <input type="text" name="subject" value="{{subject}}">
             </label>
             <label>
                 <div>Description</div>
                 <textarea name="content" class="desc">{{content}}</textarea>
             </label>
             <div class="perma_content">
                 <input type="submit">
                 <a href="/blog/{{link}}">
                     <button type="button">Cancel</button>
                 </a>
             </div>
         </div>
     </form>
  {% endblock %}
