{% extends "base.html" %}

  {% block content %}
    <div class="error">{{error}}</div>

    <div class="disp">
        <div class="title">
            <a class="blog_title" href="/blog/{{e.key().id()}}">{{e.subject|safe
                }}</a>
        </div>
        <div class="perma_content">{{e.content|safe}}</div>
        <div class="container_perma">
           <div class="left posted_by">Posted by {{e.author}} at
               {{e.last_modified.strftime("%I:%M%p")}}</div>
           <div class="right">{{e.last_modified.strftime("%b %d, %Y")}}</div>
        </div>
    </div>
    <div>
        <h3>Comments</h3>
        {% for c in comments_list %}
           <div class="comments_disp">{{c.comment|safe}}
               <div class="container_perma">
                   <div class="comments_left posted_by">Comment by {{c.comment_author}}</div>
                   <div class="ed_comments">
                       <div class="comm_l">
                           <a href="/blog/{{e.key().id()}}/editcomment/{{c.key().id()}}">
                               <button class="fa">&#xf044;</button>
                           </a>
                       </div>
                       <div class="comm_l">
                           <a href="/blog/{{e.key().id()}}/deletecomment/{{c.key().id()}}">
                               <button class="fa">&#xf2d4;</button>
                           </a>
                       </div>
                   </div>
               </div>
           </div>
        {% endfor %}
    </div>
    <a href="/blog/{{e.key().id()}}/newcomment">
        <button>New Comment</button>
    </a>

    <div class="editables">
        <div class="ld_div">
           <div class="ld_left">
                   <a class="blog_title" href="/blog/{{e.key().id()}}/like">
                       <button class="fa">&#xf087; </button>  {{e.likes}}
                   </a>
           </div>
           <div ld_right>
                   <a class="blog_title" href="/blog/{{e.key().id()}}/dislike">
                       <button class="fa">&#xf088;</button> {{e.dislikes}}
                   </a>
           </div>
        </div>

        <div class="ed_div">
            <div class="ed_left">
                    <a href="/blog/{{e.key().id()}}/editpost">
                        <button class="fa">&#xf044;</button>
                    </a>
            </div>
            <div class="ed_right">
                    <a href="/blog/{{e.key().id()}}/deletepost">
                        <button class="fa">&#xf2d4;</button>
                    </a>
                </form>
            </div>
        </div>
    </div>


  {% endblock %}
